.blog {
	padding-top: 40px;
	line-height: 30px;
	margin-bottom: 260px;
}

[class*="blog-"] {
	position: relative;
}

.blog_photo {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-color: grey;
	border-style: solid;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}

.blog_photo_inner_text {
	position: absolute;
	left: 50%;
	margin-left: -72px;
	text-align: center;
	bottom: -150px;
}

.blog_text_11,
.blog_text_22,
.blog_text_33,
.blog_text_44{
	padding-bottom: 100px;
}

.blog_text_11,
.blog_text_33,
.blog_text_1,
.blog_text_3 {
	padding-right: 100px;
	float: right;
	text-align: right;
}


.blog_text_22,
.blog_text_44,
.blog_text_2,
.blog_text_4 {
	padding-left: 10px;
	float: left;
	text-align: left;
}

.border_style {
	border-right-width: 5px;
	border-color: grey;
	border-right-style: solid;
	padding-right: 10px;
}

.border_style2 {
	border-left-width: 5px;
	border-color: grey;
	border-left-style: solid;
	padding-left: 100px;
}
