.contact {
	text-align: center;
	padding-top: 40px;
	line-height: 30px;
	background-image: url(".../images/mapa.png");
	height: 500px;
}

.contact_header {
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding-top: 30px;
	text-transform: uppercase;
}

.contact_header_inner {
	color: white;
	padding-bottom: 10px;
}
