header {
	background-image: url("https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/29342445_1610084785741495_7412762207391318016_n.jpg?oh=1a9e84a666f2e3b221b5ca4a4a4c3da4&oe=5B38F75E");
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	color: white;
}