.services {
	text-align: center;
	padding-top: 40px;
	line-height: 30px;
	padding-bottom: 40px; 
}

.services img.icon {
	border-radius: 100px;
	background-color: #fed136;
	padding: 5px;
}

.services_inner:hover img.icon {
	background-color: #ffb400;
}

.services_inner:hover h3  {
	color: #ffb400;
}

.container > .services_inner:hover {
	background-color: #ffb400;
	cursor: pointer;	
}

/*Portfolio*/

.portfolio {
	text-align: center;
	background-color: #f7f7f7;
	padding-top: 40px;
	line-height: 30px; 
}

.portfolio_photo {
	max-width: 250px;
	max-height: 250px;
	background-position: center;
	object-fit: cover;
}
